<div class="container">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">介紹</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <% if @menu.photo.present? %>
        <%= image_tag(@menu.photo.image.medium.url, class: "thumbnail") %>
        <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
        <% end %>
      </div>
      <h3> <%=@menu.title%> </h3>
      <p>地址: <%= @menu.address %></p>
      <p>訂購專線: <%= @menu.phone %></p>
      <p>外送:
        <% if @menu.delivery? %>
        可以外送！
        <% else %>
        不能外送
        <% end %>
      </p>
      <p>介紹: <%= @menu.introduction %></p>
      <br>
      <%= link_to("上一頁", menus_path, class: "btn btn-default") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">菜單</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <% @menu.foods.each do |food| %>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><%= food.name %></td>
              <td>NTD<%= food.price %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>
