<div class="container">
  <div class="col-md-6">
      <% if @menu.photo.present? %>
        <%= image_tag(@menu.photo.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>
      <div style="height:100px;">
      <h3> <%=@menu.title%> </h3>
       <p>地址: <%= @menu.address %></p>
       <p>訂購專線: <%= @menu.phone %></p>
       <p>外送:
       <% if @menu.delivery? %>
          可以外送！
       <% else %>
          不能外送
       <% end %>
     </p>
       <p>介紹: <%= @menu.introduction %></p>
    <% @menu.foods.each do |food| %>
      <li><%= food.name %> NT$ <%= food.price %></li>
    <% end %>

    <br>
       <%= link_to("上一頁", menus_path, class: "btn btn-default") %>
  </div>
</div>
