<section class="content-header">
  <h1>
  目前狀況
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12 col-lg-9 col-centered">
      <div class="box">
        <div class="box-heaader">
          <h3 class="box-title">
          </h3>
          <div class="box-tools">
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>日期</th>
                  <th>店家</th>
                  <th>已點餐人數</th>
                  <th></th>
                  <th>當前總額</th>
                  <th>狀態</th>
                </tr>
              </thead>
              <tbody>
                <% @events.each do |event| %>
                <tr>
                  <td>
                    <%= event.date %>
                  </td>
                  <td>
                    <%= event.menu_name %>
                  </td>
                  <td>
                    <div class="progress md">
                      <div class="progress-bar progress-bar-success" style="width: <%= number_to_percentage(event.now_progress) %>"></div>
                    </div>
                  </td>
                  <td>
                    <span class="progress-number" style="margin-left: 10px;"><b><%= event.order_finish %> </b>/ <%= event.members.count %></span>
                  </td>
                  <td>
                    共計：<%= event.total %>
                  </td>
                  <th>
                    <% if event.status? %>
                    <%= link_to '查看點餐情況', admin_event_path(event) %>
                    <% else %>
                    <%= link_to '已結單', admin_event_path(event) %>
                    <% end %>
                  </th>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="box-footer">
            <div class="text-center">
              <%= will_paginate @events, renderer: BootstrapPagination::Rails %>
            </div>
          </div>
        </div>
      </div>
    </section>
