<section class="content-header">
  <h1>
  開啟訂餐
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">公共菜單</h3>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>餐廳名稱</th>
                    <th>電話</th>
                    <th>外送狀態</th>
                    <th>選擇</th>
                  </tr>
                </thead>
                <tbody>
                  <% @public_menus.each do |menu| %>
                  <tr>
                    <td> <%= menu.title %></td>
                    <td> <%= menu.phone %></td>
                    <td>
                      <% if menu.delivery? %>
                      接受外送
                      <% else %>
                      不可以外送
                      <% end %>
                    </td>
                    <%if !menu.day_off? %>
                    <td><%= link_to("選擇", admin_select_menu_path(menu), :method => :create , class: "btn btn-danger", data: { confirm: "確定是否吃「#{menu.title}」？選擇後不能刪除。" } ) %>
                    </td>
                    <% else %>
                    <td><span class="label label-default">今日公休</span>
                  </td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">團隊菜單</h3>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>餐廳名稱</th>
                  <th>電話</th>
                  <th>外送狀態</th>
                  <th>選擇</th>
                </tr>
              </thead>
              <tbody>
                <% @team_menus.each do |menu| %>
                <tr>
                  <td> <%= menu.title %></td>
                  <td> <%= menu.phone %></td>
                  <td>
                    <% if menu.delivery? %>
                    接受外送
                    <% else %>
                    不可以外送
                    <% end %>
                  </td>
                  <%if !menu.day_off? %>
                  <td><%= link_to("選擇", admin_select_menu_path(menu), :method => :create , class: "btn btn-danger", data: { confirm: "確定是否吃「#{menu.title}」？選擇後不能刪除。" } ) %>
                  </td>
                  <% else %>
                  <td><span class="label label-default">今日公休</span>
                </td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
