<h2><%= @event.menu_name %></h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>目前點餐的人</th>
      <th>餐點</th>
      <th>共計</td>
      <th>備註</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= order.user.email %>
        </td>
        <td>
          <% order.items.each do |item| %>
             <%= item.food_name %> / <%= item.quantity %> 份
          <br>
          <% end %>
        </td>
        <td>
          <%= order.total %>元
        </td>
        <td>
          <%= order.info.note %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  共計 <%= @event.total_order_price(@event) %>NT
