<div class="container">
  <div class="row">
    <% @menus.each do |menu| %>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <%= link_to menu_path(menu) do %>
      <% if menu.photo.present? %>
      <%= image_tag(menu.photo.image.thumb.url, class: "img-responsive") %>
      <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-responsive") %>
      <% end %>
      <% end %>
      <%= menu.title %>
      <%= link_to 'clone' %>
    </div>
    <% end %>
  </div>
</div>
