<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>他媽的你忘記密碼了？？</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :電子郵件 %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>

      <div class="actions">
        <%= f.submit "寄送重新設定密碼郵件", class: "btn btn-success" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
