<% if @events.blank? %>
<div class="col-md-6 col-md-offset-3">
  <div class="box box-info text-center">
    <div class="box-header with-border">
      <h3 class="box-title">今天尚未決定要吃什麼</h3>
    </div>
    <div class="box-body ">
    <%= image_tag "eatwhat.jpg", class: 'img-responsive center-block' %>
    </div>
    <div class="box-footer">
      請等待任務開啟...
    </div>
  </div>
</div>
<% else %>
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">點餐任務</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>日期</th>
                <th>店家</th>
                <th>點餐</th>
                <th>參考</th>
              </tr>
            </thead>
            <tbody>
              <% @events.each do |event| %>
              <tr>
                <td>
                  <%= event.date %>
                </td>
                <td>
                  <%= event.menu_name %>
                </td>
                <td>
                  <% if !current_user.is_member_of?(event) %>
                  <%= link_to '加入點餐', join_event_event_path(event), method: :post, class: "btn btn-sm btn-info btn-flat pull-left" %>
                  <% else %>
                  <% if event.check_order(current_user, event) %>
                  <%= link_to '點餐', ordering_event_path(event), class: "btn btn-sm btn-info btn-flat pull-left"%>
                  <% else %>
                  點餐完畢
                  <% end %>
                  <% end %>
                </td>
                <td><%= link_to '看看別人點什麼',reference_event_path(event) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <% end %>
  </div>
</div>

