<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">訂單明細</h3>
          <h3 class="box-title pull-right">任務日期 <%= @event.date %></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <h3>店家:<%= @event.menu_name %></h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="80%">商品明細</th>
                  <th>單價</th>
                  <th>數量</th>
                </tr>
              </thead>
              <tbody>
                <% @order_items.each do |order_item| %>
                <tr>
                  <td>
                    <%= order_item.food_name %>
                  </td>
                  <td>
                    <%= order_item.price %>
                  </td>
                  <td>
                    <%= order_item.quantity %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <div class="total clearfix">
              <span class="pull-right">
                總計 <%= @order.total %> NTD
              </span>
            </div>
            <hr>
            <h2> 訂購資訊 </h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>訂購者</th>
                  <th>備註</th>
                </tr>
              </thead>
              <tbody>
                <td>
                  <%= @order_info.user_name %>
                </td>
                <td>
                  <%= @order_info.note %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
