<div class="hero text-center">
    <div class="hero-title">
        <h1>拋棄傳統的方式讓公司訂餐也能變有趣</h1>
        <p class="sub-slogan">
            不需要反覆塗改的紙筆紀錄，讓自己成為團體裡的訂餐高手
        </p>
        <div class="hero-item-wrapper">
            <div class="hero-item-group clearfix">
                <div class="hero-item left">
                    <div class="course-cost">群組
                    </div>
                    自由切換不同群組
                </div>
                <div class="hero-item right">
                    <div class="course-cost">
                    免費</div>
                    不需支付任何費用
                </div>
            </div>
        </div>
    </div>

    <div class="cta-button clearfix">
        <% if !current_user %>
            <%= link_to("建立你的專屬群組", new_user_registration_path, :class => "btn btn-block btn-success btn-lg") %>
            <% else %>
            <%= link_to '建立你的專屬群組', new_team_path, class: 'btn btn-block btn-success btn-lg' %>
        <% end %>
    </div>
</div>
<div class="container">
    <%= render :partial => "landing/block_1" %>
    <%= render :partial => "landing/block_2" %>
</div>
<%= render :partial => "landing/block_5" %>
<div class="container">
    <%= render :partial => "landing/block_6" %>
</div>
<div class="footer" style="margin-top: 50px;">
    <p class="text-center">Copyright ©2016 NicLin
    </p>
</div>

