<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-widget">
      <!-- /.box-header -->
      <div class="box-body">
                  <legend>餐點明細</legend>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>商品資訊</th>
              <th>單價</th>
              <th>數量</th>
            </tr>
          </thead>
          <tbody>
            <% current_cart.cart_items.each do |food| %>
            <tr>
              <td>
                <%= food.name%>
              </td>
              <td>
                <%= food.price %>
              </td>
              <td>
                <%= food.quantity %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="total clearfix">
          <span class="pull-right">
            總計 <%= render_cart_total_price(current_cart) %> NTD
          </span>
        </div>
        <div class="order-form">
          <%= simple_form_for @order do |f| %>
          <%= f.simple_fields_for :info do |c| %>
          <legend>訂購人</legend>
          <div class="form-group col-lg-12">
            <%= c.input :user_name, label: '暱稱', placeholder: '填一下你是誰好嗎', input_html: {value: current_user.name, class: 'form-control' } %>
          </div>
          <div class="form-group col-lg-12">
            <%= c.input :note, label: '備註', placeholder: '飯少、飯多、要辣、等特殊需求可以寫這邊^_^', input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group col-lg-12">
            <%= c.input :is_notify, label: '結單時發團體明細Email通知我', as: :boolean, checked_value: true, unchecked_value: false, :input_html => { :checked => true } %>
          </div>
          <% end %>
          <div class="checkout">
          <%= link_to '返回上一步', :back, class: "btn btn-lg btn-default pull-left"%>
            <%= f.submit "確定就訂這些了", class: "btn btn-lg btn-danger pull-right",
            data: { disable_with: "Submitting..." } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
