<%= stylesheet_link_tag  'application' %>
<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">訂餐明細</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>點餐者</th>
              <th>餐點</th>
              <th>備註</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <% if !order.is_abandon? %>
            <tr>
              <td>
                <%= order.user.name %>
              </td>
              <td>
                <% order.items.each do |item| %>
                <%= item.food_name %> / <%= item.quantity %> 份
                <br>
                <% end %>
              </td>
              <td>
                <%= order.info.note %>
              </td>
            </tr>
            <% else %>
            <tr>
              <td colspan="2">
                <%= order.user.name %>
              </td>
              <td>
                放棄
              </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
