<div class="row">
  <hr>
  <%= simple_form_for [:admin, @menu] do |f| %>
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <!-- Tabs within a box -->
      <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="#menu-info" data-toggle="tab">Area</a></li>
        <li><a href="#menu-detail" data-toggle="tab">Donut</a></li>
        <li><a href="#menu-foods" data-toggle="tab">Donut</a></li>
        <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
      </ul>
      <div class="tab-content no-padding">
        <!-- Morris chart - Sales -->
        <div class="chart tab-pane active" id="menu-info">
          <div class="col-md-12">
            <h3>form</h3>
            <div class="form-group">
              <%= f.input :title, input_html: { class: "form-control"} %>
              <%= f.input :phone, input_html: { class: "form-control"} %>
              <%= f.input :address, input_html: { class: "form-control"} %>
              <%= f.input :introduction, input_html: { class: "form-control"} %>
            </div>
          </div>
        </div>
        <div class="chart tab-pane" id="menu-detail" >
          <div class="col-md-12">
            <h3>option</h3>
            是否可以外送：<%= f.input :delivery, :label => '是', :value => true %>
            公休日：
            <%= f.collection_check_boxes(:official_holiday_option_ids, OfficialHolidayOption.all, :id, :name ) do |r| %>
            <%= r.label  { r.check_box + t("official_holiday_options.#{r.text}") } %>
            <% end %>
            <div class="form-group">
              <%= f.simple_fields_for :photo do |c| %>
              <%= c.input :image , as: :file %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="chart tab-pane" id="menu-foods">
          <div class="col-md-12">
                  <div class="form-group">
          <%= f.simple_fields_for :foods do |food| %>
          <%= render 'food_fields', f: food %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add Foods', f, :foods, class: "btn btn-default add-button" %>
          </div>

    </div>
    </div>
        </div>
      </div>
    </div>
  </div>

<div class="col-md-12">
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary", data: {"association-insertion-node" => "tbody.line_items", "association-insertion-method" => "append"} %>
    <% end %>
  </div>
</div>
