<%= form_for [:admin, @menu] do |f| %>

  <div class="group">
    <%= f.label("標題") %>
    <%= f.text_field :title %>
  </div>

  <div class="group">
    <%= f.label("敘述") %>
    <%= f.text_area :phone %>
  </div>

  <div class="group">
    <%= f.label("數量") %>
    <%= f.text_field :address%>
  </div>

  <div class="group">
    <%= f.label("價錢") %>
    <%= f.check_box :delivery %>
  </div>

  <% if @photo.image.present? %>
    <span>目前商品圖</span> <br>
    <%= image_tag(@photo.image.thumb.url) %>
  <% end %>

  <div class="form-group">
    <%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image , as: :file %>
    <% end %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
