<!DOCTYPE html>
<html>
  <head>
    <title>ilunch 後台</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition skin-blue">
    <!-- Site wrapper -->
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="<%= admin_events_path %>" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>KT</b>O</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>KT</b>Order</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to '網站首頁', root_path %>
              </li>
              <% if !current_user %>
              <li> <%= link_to("登入", new_user_session_path) %> </li>
              <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user fa-fw"></i>
                  Hello!管理者_ <%= current_user.name %>
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.admin? %>
                  <li>
                    <%= link_to("Admin 選單", admin_menus_path ) %>
                  </li>
                  <% end %>
                  <li>
                    <%= link_to("帳號設定", edit_user_registration_path )%>
                  </li>
                  <li>
                    <%= link_to("個人訂單列表", account_orders_path ) %>
                  </li>
                  <li>
                    <%= link_to("登出", destroy_user_session_path, method: :delete ) %>
                  </li>
                </ul>
              </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
      <!-- =============================================== -->
      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <%= image_tag ("kt_logo.png")%>
            </div>
            <div class="pull-left info">
              <p>KT</p>
            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="<%= admin_select_path %>">
                <i class="fa fa-glass"></i> <span>開啟訂餐任務</span>
              </a>
            </li>
            <li>
              <a href="<%= admin_events_path %>">
                <i class="fa fa-tasks"></i> <span>目前狀況</span>
              </a>
            </li>
            <li>
              <a href="<%= admin_orders_path %>">
                <i class="fa fa-dashboard"></i> <span>歷史訂單</span>
              </a>
            </li>
            <li>
              <a href="<%= admin_menus_path %>">
                <i class="fa fa-plus"></i> <span>菜單管理</span>
              </a>
            </li>
            <li>
              <a href="<%= admin_users_path %>">
                <i class="fa fa-user"></i> <span>使用者管理</span>
              </a>
            </li>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <%= yield %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- ./wrapper -->
</body>
</html>
