<!DOCTYPE html>
<html>
<head>
  <title>ilunch 後台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render "common/navbar" %>
  <div class="container">
    <%= notice_message %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li> <%= link_to("訂餐選擇", admin_select_path) %> </li>
          <li> <%= link_to '目前狀況', admin_events_path %></li>
          <li> <%= link_to("訂單", admin_orders_path) %> </li>
          <li> <%= link_to("菜單", admin_menus_path) %> </li>
          <li> <%= link_to("使用者", admin_users_path) %> </li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "common/footer" %>
</body>
</html>
