<!DOCTYPE html>
<html>
  <head>
    <title>DD53</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="DD53-home">
    <%= render "common/navbar" %>
    <div class="container">
      <%= notice_message %>
    </div>
    <div class="warpper">
      <section class="content">
        <%= yield %>
      </section>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
