<!DOCTYPE html>
<html>
  <head>
    <title>Ilunch</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="ilunch-home">
    <%= render "common/navbar" %>
    <%= notice_message %>
    <div class="warpper">
      <section class="content">
      <%= yield %>
    </section>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
