<!DOCTYPE html>
<html>
  <head>
    <title>DD53</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Allura">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="DD53-home">
    <%= render "common/landing_page_navbar" %>
    <div class="container">
      <div id='notice'>
        <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
      </div>
    </div>
        <%= yield %>
    <%= render "common/footer" %>
  </body>
</html>
